<app-navbar></app-navbar>
<!-- <div class="div" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(https://ichef.bbci.co.uk/ace/standard/2560/cpsprodpb/a7e3/live/eb4c7050-596c-11ef-8a89-bbbee37e7303.jpg) no-repeat 0 0', 'background-size':'cover'}">
    <router-outlet></router-outlet>
</div> -->

<div class="div" style="background-color: white; color: black;">
    <router-outlet></router-outlet>
</div>

<!-- <div class="div" style="background-color: black; color: white;">
    <router-outlet></router-outlet>
</div> -->

<!--
<div [style.background-image]="'url('')'">
    <router-outlet></router-outlet>
</div>
-->

<app-footer></app-footer>