<h1 style="text-align: center;">Como contactarnos!</h1>

<div class="div-container" style="justify-content: center; display: flex; gap: 500px; position: relative; bottom: -100px;">
    <div style="justify-content: center;">
        <div class="col" style="bottom: -10px;">
            <div id="ubi" class="ratio ratio-16x9">
                <iframe src="https://maps.app.goo.gl/peu8d1SoFArvDD787" title="Nuestro local" allowfullscreen></iframe>
            </div>
            <p>
            <h3>Ubicación</h3><br>Gral. Roca 501, Cipolletti<p>
        </div>
    </div>
    
    <div style="justify-content: center;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Teléfono</h3>
                    <p class="card-text">299 140 6200</p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Redes sociales</h3>
                        <a href="https://www.instagram.com/lokitamiaok/?hl=es-la" class="btn btn-primary"
                            style="background-color: darkblue;">Instagram</a> <br>
                        <a href="https://www.facebook.com/tiendasoco/?locale=es_LA" class="btn btn-primary "
                            style="background-color: darkblue;">Facebook</a><br>
                        <a href="https://x.com/ropaaonlinee?lang=es" class="btn btn-primary"
                            style="background-color: darkblue;">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>