
.footer {
    width: 100%;
    background-color: #000000; /* Fondo gris claro */
    padding: 10px; /* Espacio interior */
    text-align: center; /* Centrar el texto */
    color: #ffffff; /* Color del texto */
  }
  